pip install streamlit
pip install opencv-python
pip install mediapipe
pip install sqlite3
pip install numpy
pip install pillow
pip install dlib
pip install cmake
pip install face_recognition
pip install streamlit-option-menu
